@media screen and (max-width:450px) {
    .contact-card {
        padding: 20px;
    }

    .hero-section h1 {
        font-size: 35px;
        line-height: 1.4;
        width: 100%;
    }

    .hero-section h1::before {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .about .container {
        width: 100% !important;
    }

    .about .row .box-shadow-full {
        padding: 20px;
        flex-direction: column;
    }

    .about .row .box-shadow-full .row .top {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .about .row .box-shadow-full .row .top .left .image {
        width: 80%;
        margin: 0 auto 20px;
    }

    .about .row .box-shadow-full .row .top .right .par {
        margin-top: 20px;
    }

    .rightSection {
        width: 100%;
    }

    .details .overlay {
        z-index: 1;
    }

    .details {
        height: auto;
    }

    .details .row {
        position: relative;
        z-index: 3;
        top: auto;
        left: auto;
        transform: none;
        text-align: center;
        padding: 20px;
    }


    .details-card {
        position: relative;
        z-index: 4;
    }

    .details h2.h4 {
        font-size: 1.5rem;
    }

    .details p {
        font-size: 0.9rem;
    }

    .fa-2x {
        font-size: 1.5em;
    }
}

@media (max-width: 991px) {

    .navbar-collapse.show .navbar-nav {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        padding: 10px;
    }

    .navbar-nav li {
        margin: 10px 0;
    }
}